.Grade {
    border: 0px solid;
    width: 50%;
}

.Grade_maior {
    border: 0px solid;

}

.container_item {
    border-bottom: 0px solid;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.container_item_maior {
    border-bottom: 1px solid;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.Descricao {
    border: 0px solid;
    width: 30%;
    display: inline-block;
}

.Descricao_maior {
    border: 0px solid;
    width: 15%;
    display: inline-block;
}

.Descricao_maior a {
    cursor: pointer;
}

.acoes {
    border: 0px solid;
    width: 25%;
    display: inline-block;
}

.acoes form {
    display: inline-block;
}

.form-control-padronizado {
    max-width: 20em;
}

.form-select {
    max-width: 20em;
    margin-bottom: 10px;
}

.form-control {
    max-width: 25em;
    margin-top: 10px;
}

.divisao_bottom {
    border-bottom: 1px solid;
    padding-bottom: 30px;

}