* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans Light';
    --cor-topo-card: #114889;
    --cor-botao-primary: #114889;
}

main {
    position: absolute;
    left: 0;
    top: 5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tituloModulo {
    color: var(--cor-botao-primary);
    font-size: 30px;
    font-weight: bold;
}

.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #114889;
    border-radius: 3px;
    transition: all ease .2s;
}

.menu .menu-faketrigger:checked~.menu-lines span {
    background-color: #232323;
}

.menu .menu-faketrigger:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-faketrigger:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu .menu-faketrigger:checked~.menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menuAtivo {
    font-weight: bold;
}

.nav-item #submenu {
    display: none;
    padding-left: 10px;
}

.btn-primary {
    background-color: var(--cor-botao-primary);
    border-color: var(--cor-botao-primary);
}

.card {
    border-top: 3px solid var(--cor-topo-card);
}

.menu {
    margin-left: 30px;
    margin-top: 30px;
}

.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    height: calc(100vh - 100px);
    padding-top: 100px;
    background-color: #EDEDED;
    margin-left: -300px;
    transition: all ease 1s;
}

.menu .menu-faketrigger:checked~ul {
    margin-left: 0;
}

.menu ul li {
    text-decoration: none;
    color: var(--cor-botao-primary);

    cursor: pointer;
    transition: all ease 3s;
    border-bottom: 1px;
}

.menu ul li:hover {
    color: #1b4e8d;
}

.menu ul .nav-item .nav-link {
    font-size: 20px;
    border-bottom: 1px;
}

span.carousel-control-prev-icon {
    background-image: url("../imagensSistema/arrow_back_ios_black_24dp.svg")
}

span.carousel-control-next-icon {
    background-image: url("../imagensSistema/arrow_forward_ios_black_24dp.svg")
}

.clickDocumento {
    cursor: pointer;
}

.btnIndexar {
    display: none;
}

.btnAnexar {
    display: none;
}

.Metatags label {
    cursor: pointer;

}

.Metatags {
    cursor: pointer;

}

#carouselExampleControls {
    display: none;
}

#incluirDocumento,
#verificarDocumentos {
    display: none;
}

#formListaDocumentos #listarDocumentos {
    margin-top: 0px;
}

.carousel #listarDocumentos {
    margin-top: 50px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.vincArmarioTipoDoc {
    margin: 5px 0px 0px 0px;
}

.saudacao {
    margin: 50px 0px 0px 100px;
}

/*
.Grade {
    border: 0px solid;
    width: 50%;
}

.Grade_maior {
    border: 0px solid;

}

.container_item {
    border-bottom: 0px solid;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.container_item_maior {
    border-bottom: 1px solid;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.Descricao {
    border: 0px solid;
    width: 30%;
    display: inline-block;
}

.Descricao_maior {
    border: 0px solid;
    width: 15%;
    display: inline-block;
}

.Descricao_maior a {
    cursor: pointer;
}

.acoes {
    border: 0px solid;
    display: inline-block;
}

.acoes form {
    display: inline-block;
}

.form-control-padronizado {
    max-width: 20em;
}

.form-select {
    max-width: 20em;
    margin-bottom: 10px;
}

.form-control {
    max-width: 25em;
    margin-top: 10px;
}

.divisao_bottom {
    border-bottom: 1px solid;
    padding-bottom: 30px;

}


#LinkInicio a {
    font-size: 20px;
    color: #2D68BD;
    font-weight: bold;
}

#navbarNav li a {
    font-size: 13px;
    color: #2D68BD;
    font-weight: normal;
}

.abrirDocumento {
    cursor: pointer;
}

*/